NEXT_PUBLIC_SUPABASE_URL=https://wrmauhapeckyoxtvgheh.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_-k0qPRVdD75tpO4HZcEsFQ_beE-iLJw
ANTHROPIC_API_KEY=tu-api-key-aqui
NEXT_PUBLIC_DEFAULT_EVENT_ID=colombia50-santander-2026
